---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

 <footer>
    <div>访问者数量：<span id="visitor-count">加载中...</span></div>
    <script>
      // 替换 'your-namespace' 和 'your-key' 为你自己的命名空间和键
      fetch('https://api.countapi.xyz/hit/chijiancheng/940916')
        .then(response => response.json())
        .then(data => {
          document.getElementById('visitor-count').innerText = data.value;
        })
        .catch(error => {
          console.error('Error fetching visitor count:', error);
          document.getElementById('visitor-count').innerText = '无法加载';
        });
    </script>
  </footer>

  </body>
</html>
